@media (max-width: 991.98px) {
  // header
  .dashboard-header {
    .container {
      .logo-wrapper {
        .logo {
          width: 7rem;
        }
      }
      nav {
        .link {
          padding: 1.1rem 1.1rem;
          font-size: 0.8rem;
          margin-right: 0rem;
          border-bottom: 0.1rem solid transparent;
          &.active-link {
            border-bottom: 0.1rem solid #003874;
          }
        }
        span {
          img {
            width: 0.4rem;
            &:first-child {
              width: 1.6rem;
              margin-right: 0.1rem;
            }
          }
        }
      }
    }
  }
  // login
  .login-wrapper {
    .logo-wrapper {
      padding: 2rem 2.6rem 0 0;
      .login-logo {
        width: 8rem;
      }
    }
    .flex {
      .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        form {
          margin: 0;
          width: 75%;
          h1 {
            font-size: 1.7rem;
          }
          .input-field {
            input {
              font-size: 0.8rem;
              padding: 0.6rem 1rem;
            }
            label {
              font-size: 0.8rem;
            }
            .rm-fp-wrapper {
              font-size: 0.65rem;
              .custom-checkbox {
                & + label {
                  margin: 0 0.2rem -0.06rem 0;
                  padding: 0.3rem;
                }
              }
            }
            .showpass {
              width: 1.2rem;
            }
          }
          .btn {
            padding: 0.8rem;
            margin-top: 2.9rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  // primary btn
  .primary-btn {
    padding: 0.5rem 4.2rem;
    font-size: 0.7rem;
  }

  // breadcrumb
  .breadcrumb-wrapper {
    ol {
      li {
        font-size: 0.67rem;
        &::after {
          top: -0.06rem;
        }
      }
    }
  }

  // dashboard
  .dashboard-wrapper {
    margin-top: 1.5rem;
    .accordion {
      .card {
        margin-bottom: 1.5rem;
        .card-header {
          border: 0.9px solid rgba(51, 51, 51, 0.096);
          padding: 0.7rem 1.2rem;
          h1 {
            font-size: 1.1rem;
          }
          .arrows {
            width: 0.9rem;
            height: 0.5rem;
          }
        }
        &.active-card {
          .card-header {
            &::after {
              width: 0.4rem;
            }
          }
        }
        .collaps {
          .flex {
            margin: 1rem auto;
            .title {
              font-size: 0.8rem;
            }

            .left {
              .categories {
                .category {
                  margin-right: 1rem;
                  .svg-wrapper {
                    .percent {
                      h1 {
                        font-size: 1.1rem;
                      }
                    }
                  }
                  p {
                    font-size: 0.65rem;
                    margin-top: 0.2rem;
                  }
                }
              }

              .scenarios {
                .scenario {
                  padding: 0.3rem 0.3rem 0.6rem 0.9rem;
                  font-size: 0.65rem;
                  line-height: 1.3;
                  &::after {
                    width: 0.23rem;
                  }

                  .num {
                    font-size: 1.2rem;
                  }
                }
              }
            }
            .right {
              h6 {
                font-size: 0.63rem;
              }
              .progress-wrapper {
                .progress {
                  height: 0.9rem;
                }
                span {
                  line-height: 1.2;
                }
              }
            }
          }

          .bcb-wrapper {
            margin: 1.2rem auto 1rem auto;
            & > div {
              margin-top: 0.7rem;
              padding-bottom: 0.7rem;
              .left {
                img {
                  width: 2.5rem;
                }
                p {
                  font-size: 0.8rem;
                }
              }
              .center {
                font-size: 0.75rem;
                .custom-radio-btn {
                  margin-right: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  // instruction
  .instructions-wrapper {
    .breadcrumb-wrapper {
      .back-btn {
        font-size: 0.65rem;
        img {
          width: 0.6rem;
        }
      }
    }
    h1 {
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }

    .title {
      font-size: 0.9rem;
    }
    p {
      width: 85%;
      font-size: 0.66rem;
    }
    .flex {
      width: 90%;
      .interfaces {
        .interface {
          .img {
            img {
              width: 2rem;
            }
          }
        }
      }
    }
  }

  .top {
    .container {
      h1 {
        font-size: 1.2rem;
      }
      a {
        img {
          width: 1rem;
        }
      }
      .back-btn {
        font-size: 0.65rem;
        img {
          width: 0.6rem;
        }
      }
    }
  }

  // chat page
  .chat-wrapper {
    .chat-bot-wrapper {
      height: 78.7vh;
      .chat .body,
      .bot .body {
        height: 90%;
      }
      .chat {
        ::-webkit-scrollbar {
          width: 3px;
        }
        .body {
          p {
            font-size: 0.65rem;
          }

          .bot {
            margin: 0.5rem 8.4% 0.8rem auto;
          }
        }
        .bottom {
          .msg-input {
            padding: 0.47rem 1.2rem;
          }
          button {
            img {
              width: 2.3rem;
            }
            .time {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }

  // final score page
  .final-score-wrapper {
    .container {
      .right {
        h1 {
          font-size: 1.3rem;
        }
        .score {
          font-size: 2.2rem;
          margin-left: 0.2rem;
        }
        table {
          width: 95%;
          th {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
