<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSN | Dashboard</title>
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="stylesheet" href="~/assets/css/mobile.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/images/JSN_Favicon.png' />
</head>
<body style="overflow-y: scroll;">
    <header class="dashboard-header">
        <div class="container">
            <div class="logo-wrapper">
                <a href="#">
                    <img class="logo" src="~/assets/images/JSN_Logo.png" style="width:200px" alt="logo" />
                </a>
            </div>
            <nav>
                <a class="link active-link">My Dashboard</a>
                <a class="link active-link">Scenarios Gallery</a>
                <a class="link">FAQ</a>
                <span class="profile-menu">
                    <img src="~/assets/images/Profile.png" alt="profile-img" />
                    <img src="~/assets/images/Profile Arrow.png" alt="profile-img" />
                </span>
            </nav>
        </div>
    </header>

    <div class="dashboard-wrapper">
        <div class="container">
            <div class="accordion">

                <div class="card active-card">
                    <div class="card-header">
                        <h1>My Dashboard</h1>
                        @*<span class="arrows">
                                <img src="~/assets/images/Arrow.png" alt="arrow" />
                                <img src="~/assets/images/Arrow1.png" alt="arrow" />
                            </span>*@
                    </div>

                    <div class="collaps" style="max-height: revert;">
                        <div class="flex">
                            <div class="left">
                                <h2 class="title">Top Score by Question Category</h2>
                                <div class="categories">
                                    <div class="category">
                                        <div class="svg-wrapper">
                                            <svg>
                                                <circle cx="62" cy="62" r="62"></circle>
                                                <circle cx="62" cy="62" r="62"></circle>
                                            </svg>
                                            <div class="percent">
                                                <h1><span>82</span>%</h1>
                                            </div>
                                        </div>
                                        <p>Call Courtecy</p>
                                    </div>

                                    <div class="category">
                                        <div class="svg-wrapper">
                                            <svg>
                                                <circle cx="62" cy="62" r="62"></circle>
                                                <circle cx="62" cy="62" r="62"></circle>
                                            </svg>
                                            <div class="percent">
                                                <h1><span>35</span>%</h1>
                                            </div>
                                        </div>
                                        <p>Soft Skills</p>
                                    </div>

                                    <div class="category">
                                        <div class="svg-wrapper">
                                            <svg>
                                                <circle cx="62" cy="62" r="62"></circle>
                                                <circle cx="62" cy="62" r="62"></circle>
                                            </svg>
                                            <div class="percent">
                                                <h1><span>24</span>%</h1>
                                            </div>
                                        </div>
                                        <p>Language</p>
                                    </div>
                                </div>

                                <h2 class="title">Top Score by Scenarios</h2>
                                <div class="scenarios">
                                    <div class="scenario">
                                        <p class="num">72%</p>
                                        <p>Balance Inquiry</p>
                                    </div>

                                    <div class="scenario">
                                        <p class="num">25%</p>
                                        <p>Cheque Book Request</p>
                                    </div>

                                    <div class="scenario">
                                        <p class="num">53%</p>
                                        <p>Unblocking Debit Card</p>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <h2 class="title">Top Score by Metrics</h2>
                                <h6>Proper Call Opening</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <span>53%</span>
                                </div>
                                <h6>Listening and Understanding</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 23%;"></div>
                                    </div>
                                    <span>23%</span>
                                </div>
                                <h6>Empathy</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%;"></div>
                                    </div>
                                    <span>70%</span>
                                </div>
                                <h6>Probing</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 40%;"></div>
                                    </div>
                                    <span>40%</span>
                                </div>
                                <h6>Acknowledgement</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <span>50%</span>
                                </div>
                                <h6>Dead air/ Hold procedure</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 72%;"></div>
                                    </div>
                                    <span>72%</span>
                                </div>
                                <h6>Summarization / Further assistance</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 62%;"></div>
                                    </div>
                                    <span>62%</span>
                                </div>

                                <h6>Proper Call Closing.</h6>
                                <div class="progress-wrapper">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 23%;"></div>
                                    </div>
                                    <span>23%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="card active-card">
                    <div class="card-header">
                        <h1>Scenarios Gallery</h1>
                        @*<span class="arrows">
                                <img src="~/assets/images/Arrow.png" alt="arrow" />
                                <img src="~/assets/images/Arrow1.png" alt="arrow" />
                            </span>*@
                    </div>
                    <div class="collaps" style="max-height: revert;">
                        <div class="bcb-wrapper">
                            <div class="bank-balance">
                                <div class="left">
                                    <img src="~/assets/images/Bank balance.png"
                                         alt="bank balance" />
                                    <p>Bank Balance</p>
                                </div>

                                <div class="center">
                                    <input type="radio"
                                           id="bank-easy"
                                           name="bank-balance"
                                           value="easy" />
                                    <label class="custom-radio-btn" for="bank-easy">
                                        Easy
                                    </label>

                                    <input type="radio"
                                           id="bank-moderate"
                                           name="bank-balance"
                                           value="moderate" />
                                    <label class="custom-radio-btn" for="bank-moderate">
                                        Moderate
                                    </label>

                                    <input type="radio"
                                           id="bank-difficult"
                                           name="bank-balance"
                                           value="difficult" />
                                    <label class="custom-radio-btn" for="bank-difficult">
                                        Difficult
                                    </label>
                                </div>

                                <div class="right">
                                    <button class="btn primary-btn" id="bankbalance_start_btn">Start</button>
                                </div>
                            </div>

                            <div class="cheque-book-req">
                                <div class="left">
                                    <img src="~/assets/images/Cheque Book Request.png"
                                         alt="checque-book" />
                                    <p>Cheque Book Request</p>
                                </div>

                                <div class="center">
                                    <input type="radio"
                                           id="book-easy"
                                           name="book"
                                           value="easy" />
                                    <label class="custom-radio-btn" for="book-easy">
                                        Easy
                                    </label>

                                    <input type="radio"
                                           id="book-moderate"
                                           name="book"
                                           value="moderate" />
                                    <label class="custom-radio-btn" for="book-moderate">
                                        Moderate
                                    </label>

                                    <input type="radio"
                                           id="book-difficult"
                                           name="book"
                                           value="difficult" />
                                    <label class="custom-radio-btn" for="book-difficult">
                                        Difficult
                                    </label>
                                </div>

                                <div class="right">
                                    <button class="btn primary-btn" id="chequebookrequest_start_btn">Start</button>
                                </div>
                            </div>

                            <div class="block-credit">
                                <div class="left">
                                    <img src="~/assets/images/Block Credit Card .png"
                                         alt="credit card" />
                                    <p>Unblocking Debit Card</p>
                                </div>

                                <div class="center">
                                    <input type="radio"
                                           id="card-easy"
                                           name="block-card"
                                           value="Easy" checked />
                                    <label class="custom-radio-btn" for="card-easy">
                                        Easy
                                    </label>

                                    <input type="radio"
                                           id="card-moderate"
                                           name="block-card"
                                           value="Moderate" />
                                    <label class="custom-radio-btn" for="card-moderate">
                                        Moderate
                                    </label>

                                    <input type="radio"
                                           id="card-difficult"
                                           name="block-card"
                                           value="Difficult" />
                                    <label class="custom-radio-btn" for="card-difficult">
                                        Difficult
                                    </label>
                                </div>

                                <div class="right">
                                    <button class="btn primary-btn" id="unblockdebitcard_start_btn">Start</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer style="position: fixed;">
        <div class="container">
            <p>
                &copy; 2021, JumpStartNinja. All <a href="#">rights</a> reserved.
            </p>
        </div>
    </footer>

    <script src="~/assets/css/jquery/jquery-3.2.1.min.js"></script>
    
    <script type="text/javascript">
        $('#unblockdebitcard_start_btn').click(function () {
            document.location = "/Home/Instructions_UnblockDebitcard?Mode=" + $('input[name=block-card]:checked').val();            
        });
    </script>

    <script type="text/javascript">
        $('#chequebookrequest_start_btn').click(function () {
            //document.location = "#";
        });
    </script>
    <script type="text/javascript">
        $('#bankbalance_start_btn').click(function () {
            //document.location = "#";
        });
    </script>


    <script>

        //let acc = document.querySelectorAll('.accordion .card');
        //for (let i = 0; i < acc.length; i++) {
        //    let panel = acc[i].children[1];
        //    panel.style.maxHeight = panel.scrollHeight + 'px';
        //}


                //let acc = document.querySelectorAll('.accordion .card');
                //for (let i = 0; i < acc.length; i++) {
                //    if (acc[i].classList.contains('active-card')) {
                //        let panel = acc[i].children[1];
                //        if (panel.style.maxHeight) {
                //            panel.style.maxHeight = null;
                //        } else {
                //            panel.style.maxHeight = panel.scrollHeight + 'px';
                //        }
                //    }
                //}
                //acc[0].children[0].addEventListener('click', function () {
                //    if (!acc[0].classList.contains('active-card')) {
                //        for (let j = 0; j < acc.length; j++) {
                //            if (acc[j].classList.contains('active-card')) {
                //                let pane = acc[j].children[1];
                //                if (pane.style.maxHeight) {
                //                    pane.style.maxHeight = null;
                //                }
                //                acc[j].classList.remove('active-card');
                //            }
                //        }
                //    }

                //    acc[0].classList.toggle('active-card');
                //    let panel = acc[0].children[1];
                //    if (panel.style.maxHeight) {
                //        panel.style.maxHeight = null;
                //    } else {
                //        panel.style.maxHeight = panel.scrollHeight + 'px';
                //    }
                //});

                //acc[1].children[0].addEventListener('click', function () {
                //    if (!acc[1].classList.contains('active-card')) {
                //        for (let j = 0; j < acc.length; j++) {
                //            if (acc[j].classList.contains('active-card')) {
                //                let pane = acc[j].children[1];
                //                if (pane.style.maxHeight) {
                //                    pane.style.maxHeight = null;
                //                }
                //                acc[j].classList.remove('active-card');
                //            }
                //        }
                //    }
                //    acc[1].classList.toggle('active-card');
                //    let panel = acc[1].children[1];
                //    if (panel.style.maxHeight) {
                //        panel.style.maxHeight = null;
                //    } else {
                //        panel.style.maxHeight = panel.scrollHeight + 'px';
                //    }
                //});
    </script>
</body>
</html>
