<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSN | Instructions</title>
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="stylesheet" href="~/assets/css/mobile.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/images/JSN_Favicon.png' />
    <style>
        p {
            margin-bottom: 10px;
        }

        .interface {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body style="overflow-y: scroll;">
    <header class="dashboard-header">
        <div class="container">
            <div class="logo-wrapper">
                <a href="#">
                    <img class="logo" src="~/assets/images/JSN_Logo.png" style="width:200px" alt="logo" />
                </a>
            </div>
            <nav>
                <a class="link">My Dashboard</a>
                <a class="link">Scenarios Gallery</a>
                <a class="link">FAQ</a>
                <span class="profile-menu">
                    <img src="~/assets/images/Profile.png" alt="profile-img" />
                    <img src="~/assets/images/Profile Arrow.png" alt="profile-img" />
                </span>
            </nav>
        </div>
    </header>

    <div class="instructions-wrapper">
        <div class="container">
            <nav class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Home/dashboard">Scenarios Gallery</a>
                    </li>
                    <li class="breadcrumb-item current">Unblocking Debit Card</li>
                </ol>

                <a class="back-btn" href="/Home/dashboard">
                    <img src="~/assets/images/Arrow5.png" alt="arrow" />
                    Back to Scenarios Gallery
                </a>
            </nav>

            <h1>Unblocking Debit Card Scenario - @ViewBag.Mode</h1>

            <h2 class="title">Instructions</h2>

            <p>
                This scenario enables Call Centre executive to listen through typical set of questions a customer will ask when he / she has to revoke Unblocking Debit Card request. During this scenario execution, Call Centre Executive will be evaluated with a set of predefined Assessment Parameters
            </p>

            <div class="flex">
                <div class="interfaces">
                    <h2 class="title">Interface</h2>
                    <div class="interface" style="margin-top: 1rem;">
                        <div class="img">
                            <img src="~/assets/images/RedMic.png" alt="mic img" />
                        </div>
                        <div class="content">
                            <p>
                                Click to Start the Scenario
                            </p>
                        </div>
                    </div>
                    <div class="interface" style="margin-top: 1rem;">
                        <div class="img">
                            <img src="~/assets/images/GreenMic.png" alt="mic img" />
                        </div>
                        <div class="content">
                            <p>
                                Scenario is in Progress
                            </p>
                        </div>
                    </div>
                    <div class="interface" style="margin-top: 1rem;">
                        <div class="img">
                            <img src="~/assets/images/RedClock.png" alt="hold img" />
                        </div>
                        <div class="content">
                            <p>
                                Call is not on Hold
                            </p>
                        </div>
                    </div>
                    <div class="interface" style="margin-top: 1rem;">
                        <div class="img">
                            <img src="~/assets/images/GreenClock.png" alt="hold img" />
                        </div>
                        <div class="content">
                            <p>
                                Click to Release from Hold
                            </p>
                        </div>
                    </div>
                </div>

                <div class="assessment">
                    <h2 class="title">Assessment Parameters</h2>
                    <ol>
                        <li>Proper Call Opening</li>
                        <li>Listening and Understanding</li>
                        <li>Empathy</li>
                        <li>Probing</li>
                        <li>Acknowledgement</li>
                        <li>Dead air/ Hold procedure</li>
                        <li>Summarization / Further assistance</li>
                        <li>Proper Call Closing</li>
                    </ol>
                    @*<br /><br /><div>
                        <h2 class="title" style="display:inline">Choose your language here : </h2>
                        <select id="language" name="language" class="form-control" style="width: 120px;font-size: 17px;height: 28px;">
                            <option value='en-IN' selected>English</option>
                            <option value='ta'>Tamil</option>
                            <option value='hi'>Hindi</option>
                            <option value='te'>Telugu</option>
                        </select>
                    </div>*@
                </div>
            </div>

            <button class="btn primary-btn" id="next_btn">Next</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <footer style="position: fixed;">
        <div class="container">
            <p>
                &copy; 2021, JumpStartNinja. All <a href="#">rights</a> reserved.
            </p>
        </div>
    </footer>
    <script src="~/assets/css/jquery/jquery-3.2.1.min.js"></script>

    
    <script type="text/javascript">
        $('#next_btn').click(function () {
            //var lang = document.getElementById("language").value;
            //console.log(lang);
            document.location = "/Home/Chat_UnblockDebitcard?Mode=@ViewBag.Mode";
        });
    </script>

</body>
</html>
