<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSN | login</title>
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
    <link rel="stylesheet" href="~/assets/css/mobile.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/images/JSN_Favicon.png' />
</head>
<body>
    <div class="login-wrapper">
        <div class="logo-wrapper">
            <a href="#">
                <img class="login-logo" src="~/assets/images/JSN_Logo.png" style="width:230px" alt="logo" />
            </a>
        </div>
        <div class="flex">
            <div class="form-wrapper">
                <form>
                    <h1>Login</h1>
                    <div class="input-field">
                        <input type="email" id="email" placeholder=" " required />
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field pass-field">
                        <input type="password" id="password" placeholder=" " required />
                        <label for="password">Password</label>
                        <span class="showpass">
                            <img src="~/assets/images/visibility.png"
                                 alt="visibility-icon" />
                        </span>
                    </div>

                    <div class="rm-fp-wrapper">
                        <div class="rm">
                            <input type="checkbox" class="custom-checkbox" id="remember" />

                            <label for="remember"></label>
                            <label for="remember">Remember me</label>
                        </div>
                        <a href="#">Forgot Password??</a>
                    </div>

                    <button class="btn" id="login_btn">
                        Login
                    </button>
                    <br>
                    <center><p class="msg" id="error_msg"></p></center>

                    <!-- <p>if you don't have an account means?? <a href="#">Signup</a></p> -->
                </form>
            </div>
            <div class="img-wrapper">
                <img src="~/assets/images/Login Img.png" alt="modal person img" />
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>
                &copy; 2021, JumpStartNinja. All <a href="#">rights</a> reserved.
            </p>
        </div>
    </footer>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const togglePass = document.querySelector('.showpass');
            const passInput = document.querySelector('#password');
            togglePass.addEventListener('click', function () {
                const type =
                    passInput.getAttribute('type') === 'password' ? 'text' : 'password';
                const src =
                    togglePass.children[0].getAttribute('src') ===
                        '/assets/images/visibility.png'
                        ? '/assets/images/Invisibility.png'
                        : '/assets/images/visibility.png';
                passInput.setAttribute('type', type);
                togglePass.children[0].setAttribute('src', src);
            });
        });
    </script>
    <script src="~/assets/css/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/css/js/login.js"></script>
</body>
</html>
