a {
  display: inline-block;
  text-decoration: none;
}

.container {
  // width: 88.2%;
  width: 89.6%;
  padding-right: 0.7%;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: $primary-col;
  &:hover {
    background-color: lighten($primary-col, 10);
  }
}

.primary-btn {
  padding: 1.3rem 9.8rem;
  border-radius: 0.2rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

@import 'custom-check-box';
@import 'accordion';
@import 'breadcrumb';
