.instructions-wrapper {
  .breadcrumb-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0 1rem 0;

    .back-btn {
      font-size: 1.22rem;
      font-weight: 600;
      color: $primary-col;
      img {
        vertical-align: middle;
      }
    }
  }

  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  .title {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.26rem;
    width: 76%;
    line-height: 1.2;
    font-weight: 600;
  }

  .flex {
    margin-top: 3.6rem;

    width: 76%;

    display: flex;
    .interfaces {
      flex-basis: 48%;
      .title {
        margin-bottom: 1rem;
      }

      .interface {
        display: flex;
        &:last-child {
          margin-top: 3.4rem;
        }
        .img {
          flex-basis: 16%;
          padding-top: 0.2rem;
        }
        .content {
          flex: 1;
        }
      }
    }

    .assessment {
      flex: 1;
      .title {
        margin-bottom: 0.2rem;
      }
      ol {
        list-style: none;
        li {
          font-weight: 600;
          font-size: 1.14rem;
          line-height: 2.5;
          display: inline-block;
          margin-right: 1.2rem;
          position: relative;

          &::after {
            content: '|';
            position: absolute;
            top: 0;
            right: -1rem;
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .btn {
    margin-top: 5.6rem;
  }
}
