.dashboard-wrapper {
  margin-top: 3rem;
  .accordion {
    .card {
      margin-bottom: 2rem;
      .card-header {
        position: relative;
        border: 2px solid $border-col;
        border-radius: 0.7rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 2rem;
        align-items: center;

        h1 {
          font-weight: 600;
        }

        .arrows {
          position: relative;
          width: 2rem;
          height: 1rem;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:last-child {
              opacity: 0;
            }
            &:first-child {
              opacity: 1;
            }
          }
        }
      }

      .collaps {
        .flex {
          width: 96.5%;
          margin: 2.5rem auto 2rem auto;
          display: flex;

          .title {
            font-size: 1.44rem;
            color: $font-col;
            margin-bottom: 2rem;
          }
          .left {
            flex-basis: 58%;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 10%;
              width: 0.2rem;
              background-color: $border-col;
              height: 94%;
            }
            .categories {
              display: flex;
              margin-bottom: 3.2rem;
              .category {
                margin-right: 4rem;
                .svg-wrapper {
                  position: relative;
                  .percent {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $primary-col;
                    h1 {
                      font-size: 2.2rem;
                    }
                  }
                  svg {
                    width: 140px;
                    height: 140px;
                    z-index: 10;
                    transform: rotate(275deg);
                  }
                  svg circle {
                    width: 100%;
                    height: 100%;
                    fill: none;
                    stroke: $coolbg-col;
                    stroke-width: 16;
                    transform: translate(7px, 7px);
                  }

                  svg circle:nth-child(2) {
                    stroke-dasharray: 390;
                    stroke-dashoffset: 390;
                  }
                }
                &:nth-child(1) {
                  .svg-wrapper {
                    svg {
                      circle:nth-child(2) {
                        stroke: $blue-col;
                        stroke-dashoffset: calc(390 - (390 * 82) / 100);
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  .svg-wrapper {
                    svg {
                      circle:nth-child(2) {
                        stroke: $orange-col;
                        stroke-dashoffset: calc(390 - (390 * 35) / 100);
                      }
                    }
                  }
                }
                &:nth-child(3) {
                  .svg-wrapper {
                    svg {
                      circle:nth-child(2) {
                        stroke: $yellow-col;
                        stroke-dashoffset: calc(390 - (390 * 24) / 100);
                      }
                    }
                  }
                }

                p {
                  font-size: 1.2rem;
                  text-align: center;
                  font-weight: 600;
                  margin-top: 1rem;
                }
              }
            }

            .scenarios {
              display: flex;
              .scenario {
                flex-basis: 27%;
                margin-right: 2.3rem;
                background-color: #f1f5f8;
                position: relative;
                padding: 0.7rem 1rem 0.9rem 2.4rem;
                border-radius: 0.2rem;
                overflow: hidden;
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 0.8rem;
                  height: 100%;
                  background-color: $primary-col;
                }

                .num {
                  font-size: 2.3rem;
                  font-weight: 800;
                  color: $primary-col;
                }
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
              }
            }
          }
          .right {
            flex-basis: 42%;
            padding-left: 6%;
            .title {
              margin-bottom: 0.8rem;
            }
            h6 {
              font-size: 1.1rem;
              color: $font-col;
              font-weight: 600;
              margin-bottom: 0.6rem;
            }
            .progress-wrapper {
              display: flex;
              margin-bottom: 0.6rem;
              .progress {
                flex-basis: 87%;
                height: 2rem;
                border-radius: 0.2rem;
                overflow: hidden;
                background-color: #ccd6e0;
                .progress-bar {
                  height: 100%;
                  background-color: $primary-col;
                }
              }
              span {
                font-size: 1.3rem;
                color: $primary-col;
                margin-left: 1rem;
                font-weight: 700;
              }
            }
          }
        }

        .bcb-wrapper {
          width: 96.5%;
          margin: 2.5rem auto 2rem auto;

          & > div {
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            margin-top: 2rem;
            border-bottom: 1.7px solid $border-col;

            .left {
              flex-basis: 24%;
              img {
                width: 6rem;
              }
              font-size: 1.5rem;
              color: $font-col;
              font-weight: 600;
            }

            .center {
              flex-basis: 51%;
              font-size: 1.5rem;
              font-weight: 600;
              .custom-radio-btn {
                margin-right: 5.5rem;
              }
              input {
                transform: scale(2);

                margin: 0 0.6rem;
              }
            }

            .right {
              flex: 1;
            }
          }

          .block-credit {
            border-bottom: none;
          }
        }
      }
      &.active-card {
        .card-header {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0.8rem;
            height: 100%;
            background-color: $primary-col;
          }
          .arrows {
            img {
              &:first-child {
                opacity: 0;
              }
              &:last-child {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
