@media (max-width: 767.98px) {
  // footer
  footer {
    padding: 0.8rem 0 0.5rem 0;
    p {
      font-size: 0.6rem;
    }
  }

  // login wrapper
  .login-wrapper {
    .logo-wrapper {
      .login-logo {
        width: 7rem;
      }
    }

    .flex {
      .form-wrapper {
        form {
          h1 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
          .input-field {
            margin-bottom: 2rem;
            input {
              &:focus,
              &:not(:placeholder-shown) {
                & ~ label {
                  font-size: 0.6rem;
                }
              }
            }
            label {
              font-size: 0.7rem;
            }
            .showpass {
              width: 1rem;
              top: 50%;
            }
          }
          .rm-fp-wrapper {
            font-size: 0.62rem;
            .custom-checkbox {
              & + label {
                margin: 0 0.2rem -0.1rem 0;
                padding: 0.3rem;
                font-size: 0.4rem;
              }
            }
          }
          .btn {
            padding: 0.6rem;
            margin-top: 2.2rem;
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  // chat page
  .chat-wrapper {
    .chat-bot-wrapper {
      overflow-y: auto;
      .chat {
        .body {
          .user {
            width: 66%;
          }
          .bot {
            width: 74%;
          }
        }
        .bottom {
          .msg-input {
            font-size: 0.7rem;
          }
          button {
            img {
              width: 1.9rem;
            }
          }
        }
      }
    }
  }

  // final score
  .final-score-wrapper {
    .container {
      .bot {
        width: 34.1%;
        img {
          width: 90%;
          max-width: 10rem;
        }
      }

      .right {
        h1 {
          font-size: 1.2rem;
        }
        .score {
          font-size: 2rem;
        }
        table {
          th {
            font-size: 0.9rem;
          }

          td {
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}
