<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Annotation PoC</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Assets/css/landing-page.min.css" rel="stylesheet">
    <style>

        .features-icons {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top" style="background: linear-gradient(to right, #f3f3f3, #f3f3f3 70%,#036 30%);">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/Assets/img/JSN Logo_Updated.png" style="max-width: 60%;"></a>
        </div>
    </nav>
    
    <!-- Masthead -->
    <!-- section 1 -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <input type="file" name="open_image_file" id="open_image_file" class="open_image_file" style="display: none;">
                    <button class="btn btn-primary mb-4 shadow-2" style="background: black;" id="open_image_trigger" onclick="imageopen()"><i class="fa fa-cloud">&nbsp;&nbsp;Browse</i></button>
                    <p id="warn_msg">Kindly upload (PNG,JPEG) formatted images</p>
                    <center>
                        <img src="/Assets/img/form_upload_outside.jpg" alt="uploadimage" id="local_img" style="cursor: pointer;width: 100%;"><br><br>
                    </center>
                </div>
                <div class="col-lg-6">
                    <input type="file" name="open_image_file1" id="open_image_file1" class="open_image_file1" style="display: none;">
                    <button class="btn btn-primary mb-4 shadow-2" style="background: black;" id="open_image_trigger1" onclick="imageopen1()"><i class="fa fa-cloud">&nbsp;&nbsp;Browse</i></button>
                    <p id="warn_msg1">Kindly upload (PNG,JPEG) formatted images</p>
                    <center>
                        <img src="/Assets/img/form_upload_inside.jpg" alt="uploadimage" id="local_img1" style="cursor: pointer;width: 100%;"><br><br>
                    </center>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <button class="btn btn-primary mb-4 shadow-2" style="background: green;" id="process_btn">&nbsp;&nbsp;Process</button>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <center>
                        <img src="/Assets/img/loading.gif" id="loading_image" style="display: none;width: 20%;">
                        <div id="result" style="background-color: white;border: 5px solid #58ab58;height:102px;">
                            <p id="ocr_result" style="margin-left:-10%;margin-top:2%"></p>
                            <p id="custom_result"></p>

                        </div>
                    </center>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>

    </section>
    <br>
    <br>
    <input type="hidden" name="" id="ocr_img">
    <input type="hidden" name="" id="custom_img">
    <div class="modal fade" id="alert_popup_error" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <h4 id="err_msg"></h4><br>
                        <a href="/Annotation/index" type="button" class="btn btn-primary">Okay</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 h-100 text-center text-lg-center my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; JumpStartNinja All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#warn_msg').hide();
            $('#warn_msg1').hide();
            $('#loading_text').hide();
            $('#result').hide();
        });
        function imageopen() {
            $('#open_image_file').trigger('click');
        }

        function imageopen1() {
            $('#open_image_file1').trigger('click');
        }

        $(function () {
            $("#open_image_file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            var ImageBase64 = null;
            var img_src_64 = e.target.result;
            var img_64_array = img_src_64.split(',');
            var img_extension = img_64_array[0];
            if (img_extension == "data:image/png;base64" || img_extension == "data:image/PNG;base64" || img_extension == "data:image/jpeg;base64" || img_extension == "data:image/JPEG;base64" || img_extension == "data:image/jpg;base64" || img_extension == "data:image/JPG;base64") {
                $('#local_img').attr('src', e.target.result);
                ImageBase64 = img_64_array[1];
                $('#ocr_img').val(ImageBase64);
            }
            else {
                $('#warn_msg').show();
                $('#local_img').attr('src', '');
            }

        };


        $(function () {
            $("#open_image_file1").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded1;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
        function imageIsLoaded1(e) {
            var ImageBase64_1 = null;
            var img_src_64 = e.target.result;
            var img_64_array = img_src_64.split(',');
            var img_extension = img_64_array[0];
            if (img_extension == "data:image/png;base64" || img_extension == "data:image/PNG;base64" || img_extension == "data:image/jpeg;base64" || img_extension == "data:image/JPEG;base64" || img_extension == "data:image/jpg;base64" || img_extension == "data:image/JPG;base64") {
                $('#local_img1').attr('src', e.target.result);
                ImageBase64_1 = img_64_array[1];
                $('#custom_img').val(ImageBase64_1);
            }
            else {
                $('#warn_msg1').show();
                $('#local_img1').attr('src', '');
            }

        };

        $('#process_btn').click(function () {
            $('#result').hide();
            $("#process_btn").attr("disabled", true);
            //$('#loading_text').show();
            var ocr_img = $('#ocr_img').val();
            var custom_img = $('#custom_img').val();
            if (ocr_img != "" && custom_img != "") {
                $("#loading_image").css("display", "block");
                var image = JSON.stringify({ InImage: custom_img, OutImage: ocr_img });
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    datatype: "json",
                    data: image,
                    url: "/Annotation/ImageAnnotation/",
                    success: function (data) {
                        console.log(data.OCRText);
                        if (data.Error == "") {
                            $("#loading_image").css("display", "none");
                            $('#result').show();
                            $("#ocr_result").html("OCR Suggessts the outlet is <b>" + data.StoreType + "</b>");
                            $("#custom_result").html("Image Analytics Suggessts the outlet is <b>" + data.Result + "</b>");
                            $("#process_btn").attr("disabled", false);
                            //console.log(data.Result);
                            //console.log(data.Probability);
                            //console.log(data.StoreType);

                        }
                        else {
                            $("#loading_image").css("display", "none");
                            $('#err_msg').html(data.Error);
                            $('#alert_popup_error').modal('show');
                            //console.log(data.Error);
                        }
                    }
                });
            }
            else {
                $('#err_msg').html('Please choose both images..');
                $('#alert_popup_error').modal('show');
            }

        });
    </script>
</body>
</html>
