.login-wrapper {
  .logo-wrapper {
    text-align: end;
    padding: 4rem 4.8rem 0 0;
  }
  .flex {
    display: flex;
    height: 86.4vh;
    .form-wrapper {
      flex-basis: 50.7%;

      form {
        width: 65%;
        margin: 9.3% auto 0 16%;

        h1 {
          color: $primary-col;
          font-size: 3.1rem;
          margin-bottom: 3rem;
          font-weight: 600;
        }
        .pass-field {
          margin-bottom: 2rem;
        }
        .rm-fp-wrapper {
          display: flex;
          justify-content: space-between;

          font-size: 1.2rem;

          a {
            color: $primary-col;
          }
        }

        .btn {
          display: block;
          width: 100%;
          padding: 1.5rem;
          margin-top: 5rem;
          font-size: 1.4rem;
          letter-spacing: 2px;
          border-radius: 3rem;
        }
      }
    }

    .img-wrapper {
      flex-basis: 49.3%;
      position: relative;
      img {
        position: absolute;
        width: 90.6%;
        bottom: 0;
      }
    }
  }
}
